@font-face {
  font-family: "Trip Sans Med";
  src: url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.eot");
  src: url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.woff2")
      format("woff2"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.woff")
      format("woff"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.ttf")
      format("truetype"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Medium.svg#TripSans-Medium")
      format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Trip Sans Reg";
  src: url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.eot");
  src: url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.woff2")
      format("woff2"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.woff")
      format("woff"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.ttf")
      format("truetype"),
    url("/02/exercice02/tripadvisor-partie-1/assets/fonts/TripSans-Regular.svg#TripSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
